/*
 * Off-white: #e3d5ba
 * Orange:    #e86701
 * Gray:      #474747
 */

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #474747;
  color: #4dd827, #67f100, #eeff08, #13ff29, #000;
  color: #e3d5ba, #e86701, #474747;
  color: #e3d5ba;
  font-family: "Dosis", sans-serif;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  margin: 0 0 .3em;
}

p {
  margin: 0 0 .3em;
}

a {
  color: #e86701;
  text-decoration: none;
}

a:hover {
  color: #e3d5ba;
  transition: color .15s ease;
}
