$white: #e3d5ba;
$orange: #e86701;
$gray: #474747;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $gray;
  color: $white;
}

body,
button,
input,
textarea {
  font-family: "Dosis", sans-serif;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  margin: 0 0 0.3em;
}

p {
  margin: 0 0 0.3em;
}

strong {
  color: $orange;
  font-weight: bold;
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    color: $white;
    transition: color 0.15s ease;
  }
}

small {
  font-size: 60%;
}

big {
  font-size: 120%;
}

hr {
  width: 100%;
  border: 1px dashed $orange;
}

label,
input {
  display: inline-block;
  margin: 0 0 0.3em;
  width: 100%;
  max-width: 300px;
}

.form-control {
  margin-bottom: 1em;
}

label {
  color: $orange;
  font-weight: bold;
}

input[type="text"] {
  border-radius: 5px;
  font-size: 0.8em;
  padding: 0.4em 0.5em;
  line-height: 1;
  color: $white;
  background-color: darken($gray, 5%);
  border: 1px solid $white;

  &:focus {
    background-color: darken($gray, 10%);
    border-color: darken($gray, 5%);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba($gray, 0.075), 0 0 4px rgba($orange, 0.8);
  }
}

form {
  text-align: center;
}

button {
  font-size: 1em;
  display: inline-block;
  color: $gray;
  border: 2px solid darken($gray, 5%);
  background: $orange;
  margin: 0 0.5em 0.5em 0;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  user-select: none;
  transition: 0.15s ease;
  transition-property: background-color, border-color, color;

  &:hover {
    background: lighten($orange, 5%);
  }

  &:active {
    background: darken($orange, 5%);
  }

  &:focus {
    outline-color: rgba($orange, 0.8);
  }

  &.inverted {
    color: $orange;
    border: 2px solid darken($orange, 5%);
    background: $gray;

    &:hover {
      background: lighten($gray, 5%);
    }

    &:active {
      background: darken($gray, 5%);
    }

    &:focus {
      outline-color: rgba($gray, 0.8);
    }
  }
}

.keycode {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
  font-size: 60%;
  font-family: monospace;
  line-height: 1;

  &::before,
  &::after {
    color: $white;
  }

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}
